<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="XMCloud">
    <settings>
      <setting name="XmCloud.Prometheus.ExporterEndpoint" value="api/v2.0/prometheus/" />
      <setting name="XmCloud.Prometheus.ExporterPort" value="9090" />
      <setting name="XmCloud.Prometheus.Enabled" value="false" />
    </settings>

    <pipelines>
      <initialize>
        <processor type="Sitecore.XmCloud.Prometheus.MetricsRoute1, Sitecore.XmCloud.Prometheus" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
